#boxes img {
  padding: 15px;
}

#boxes .circled {
  display: inline-block;
  height: 8rem;
  margin-bottom: 3vh;
}

#boxes h4 {
  margin-bottom: 2vh;
}

@media (max-width: 720px) {
  #boxes .col-sm-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 414px) {
  #boxes .col-sm-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}