.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    position: relative;
    display: block;
  }
  
  a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: var(--blue-normal);
  }
  
  .blog-entry {
    margin: 2vh 0 6vh 0;
  }
  
  .blog-entry .news-img {
    position: relative;
  }
  
  .blog-entry img {
    z-index: 1;
  }
  
  .blog-entry button {
    position: absolute;
    margin-top: 1.5vh;
    right: 0;
  }
  
  .blog-entry .meta-date {
    position: absolute;
    top: 0;
    z-index: 5;
  }
  
  .blog-entry .meta-date {
    display: inline-block;
    background: var(--blue-normal);
  }
  
  .blog-entry .meta-date .day {
    font-weight: 700;
    font-size: 20px;
  }
  
  .blog-entry .meta-date span {
    display: block;
    color: var(--white-normal);
  }
  
  .blog-entry .meta-date .mos,
  .blog-entry .meta-date .yr {
    font-size: 13px;
  }
  
  .blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
  }
  
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .blog-entry .text .heading a {
    color: #000000;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  