#equipment .carouselImg {
  width: 230px;
}

#equipment .carousel-arrow-rigth {
  transition-duration: 0.2s;
}

#equipment .carousel-arrow-rigth:hover {
  transform: translateX(2px);
}

#equipment .carousel-arrow-left:hover {
  transform: translateX(-2px);
}

@media (max-width: 800px) {
  #equipment .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 414px) {
  #equipment .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}