#intro {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#intro .intro-content {
  background-image: url(../../img/Intro/bg-1500.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10vh;
}

#intro .intro-content h2 {
  margin-bottom: 10px;
}

h1.h-ultra,
h2.h-ultra,
h3.h-ultra,
h4.h-ultra,
h5.h-ultra,
h6.h-ultra {
  font-weight: 900;
}

#intro .box {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: initial;
  border-radius: 5px;
}

#intro .doctor-bg img {
  width: 100%;
  margin-left: 5vw;
}

#intro .lead-list img {
  filter: invert(0.5);
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 8px;
}

#intro ul.lead-list {
  list-style: none;
  margin: 30px 10px;
  padding: 35px 0 0 0;
  border-radius: 50px;
}

#intro ul.lead-list li {
  margin: 0 0 20px 0;
  line-height: 1.6em;
}

#intro ul.lead-list li span.list {
  display: inline-block;
  margin: 0 0 0 10px;
}

/* 1024 */

@media (max-width: 1025px) {
  #intro .intro-content {
    background-image: url(../../img/Intro/bg-1000.jpg);
  }

  h2.h-ultra {
    font-weight: 700;
  }

  #intro ul.lead-list {
    margin: 10px 10px;
    padding: 25px 0 0 0;
  }

  #intro .lead-list img {
    display: inline-block;
    margin-top: 0px;
    margin-left: 8px;
  }

  #intro ul.lead-list li span.list {
    display: inline-block;
    margin: -30px 0 0 55px;
  }

  #intro .doctor-bg img {
    width: 135%;
    margin-left: -7vw;
  }

  h4 {
    margin-bottom: 1.5rem;
  }
}

/* 800 */

@media (max-width: 801px) {
  #intro ul.lead-list {
    padding: 30px 0 0 0;
  }

  #intro .lead-list img {
    margin-top: -30px;
    margin-left: 30px;
  }

  #intro ul.lead-list li span.list {
    display: inline-block;
    margin: 10px 0 0 20px;
  }

  #intro .doctor-bg img {
    display: none;
  }
}

/* 768 */

@media (max-width: 769px) {
  #intro .intro-content {
    background-image: url(../../img/Intro/bg-500.jpg);
  }
  h4 {
    margin-bottom: 2.5rem;
  }
}

/* 720 */

@media (max-width: 720px) {
  #intro ul.lead-list {
    padding: 30px 0 0 0;
  }

  #intro .lead-list img {
    margin-top: 20px;
    margin-left: 20px;
  }

  #intro ul.lead-list li span.list {
    display: inline-block;
    margin: -45px 0 0 70px;
  }

  #intro .doctor-bg img {
    display: none;
  }
}

@media (max-width: 449px) {
  #intro {
    display: none;
  }
}
