#motto {
  padding: 50px 0;
  margin-bottom: 0;
  color: var(--white-normal);
  background: url(../../img//Motto/motto-750.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative !important;
  z-index: 1;
}

#motto:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top right,
    rgba(1, 144, 176, 0.5),
    rgba(0, 181, 221, 0.5)
  );
  z-index: -1;
}

#motto .motto-text {
  display: flex;
  align-items: center;
}

@media (max-width: 1025px) {
  #motto .col-md-2 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  #motto .col-md-4 {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (max-width: 720px) {
  #motto {
    background: url(../../img//Motto/motto-400.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #motto .col-md-2 {
    flex: 0 0 1%;
    max-width: 1%;
  }

  #motto .col-md-4 {
    flex: 0 0 47%;
    max-width: 47%;
  }
}

@media (max-width: 415px) {
  #motto .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  #motto .col-md-2 {
    display: none;
  }

  #motto .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
