#partners .partner-position .col {
  text-align: center;
  vertical-align: middle;
}

#partners .partner-section {
  margin: 10vh 0 4vh 0;
}

#partners .partner {
  display: inline-block;
}

#partners .link {
  width: 100%;
}

#partners .partner a img {
  margin: 5vh 0vh 5vh 0vh;
}

@media (max-width: 1024px) {
  #partners .col {
    max-width: 90%;
  }
  #partners {
    margin-bottom: 5vh;
  }
}

@media (max-width: 800px) {
  #partners .col {
    max-width: 100%;
  }
  #partners .partner a img {
    margin: 5vh 0vh 0vh 0vh;
  }
}

@media (max-width: 720px) {
  #partners .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #partners .partner a img {
    margin: 5vh 0vh 1vh 0vh;
  }
}

@media (max-width: 414px) {
  #partners .partner a img {
    margin: 5vh 0vh 0vh 0vh;
  }
}

@media (max-width: 375px) {
  #partners {
    display: none;
  }
}