#service-short-info .service-info .icon {
  display: block;
  float: left;
}

#service-short-info .service-info .icon img {
  width: 50px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 70px;
}

@media (max-width: 1024px) {
  #service-short-info .service-info .icon img {
    margin-bottom: 90px;
  }
}

@media (max-width: 800px) {
  #service-short-info .service-info .icon img {
    margin-bottom: 170px;
  }
  #service-short-info .service-info {
    margin-top: 4vh;
  }
  #service-short-info h4 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 720px) {
  #service-short-info .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #service-short-info .btn {
    display: none;
  }

  #service-short-info .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #service-short-info h4 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 414px) {
  #service-short-info .service-info .icon img {
    margin-bottom: 70px;
    margin-left: 10px;
  }

  #service-short-info .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  #service-short-info .service-info .icon img {
    margin-bottom: 75px;
    margin-left: 3px;
  }
}

@media (max-width: 360px) {
  #service-short-info .service-info .icon img {
    margin-bottom: 75px;
    margin-left: 1px;
  }
}
