#sercive .service-info {
    margin-bottom: 10vh;
}

#sercive .service-info .icon {
  display: block;
  float: left;
}

#sercive .service-info .icon img {
  width: 120px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 100px;
}
