.hidden {
  display: none;
}

/*
==============================================
slideLeft
==============================================
*/

.slideLeft {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.slideLeft-d1 {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.slideLeft-d2 {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*
==============================================
slideRight
==============================================
*/

.slideRight {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*
==============================================
expandUp
==============================================
*/

.expandUp {
  animation-name: expandUp;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes expandUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
