.home-section {
  /* padding-top: 150px; */
  display: block;
  position: relative;
  z-index: 120;
  background-color: #fff;
}

.section-heading h2 {
  margin-bottom: 10px;
}

.section-heading p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

.color-dark .section-heading h2 {
  color: #111;
}
.color-dark .section-heading p {
  color: #444;
}

h1.h-bold,
h2.h-bold,
h3.h-bold,
h4.h-bold,
h5.h-bold,
h6.h-bold {
  font-weight: 700;
}

.divider-short {
  display: block;
  width: 60px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.divider-short,
.color-dark .divider-short,
.bg-gray .divider-short {
  background: #aaa;
}

.color-light .divider-short {
  background: #fefefe;
}

.carouselImg {
  height: 170px;
}

.carousel-arrow-rigth {
  transition-duration: 0.2s;
}

.carousel-arrow-rigth:hover {
  transform: translateX(2px);
}

.carousel-arrow-left:hover {
  transform: translateX(-2px);
}
