
:root {
  --gray-light: rgba(238, 238, 238, 0.5);
  --gray-normal: rgb(222, 220, 220, 0.3);
  --gray-dark: rgb(212, 212, 212);

  --blue-light: rgb(0, 181, 221);
  --blue-normal: rgb(0, 165, 203);
  --blue-dark: rgb(1, 144, 176);

  --white-normal: rgb(248, 249, 250);
}

.home-section {
  margin: 10vh 0;
  display: block;
  position: relative;
}

.ser-title {
  line-height: 20px;
  margin: 0;
  font-size: 28px;
}

.botm-line {
  height: 3px;
  width: 60px;
  background: var(--blue-dark);
  position: relative;
  border: 0;
  margin: 20px 0 20px 0;
}

.blue-btn {
  background-color: var(--blue-normal);
  outline: var(--blue-normal);
  color: var(--white-normal);
}

.blue-btn:hover {
  background-color: var(--blue-light);
  outline: var(--blue-light);
  color: var(--white-normal);
}

.white-btn {
  background-color: var(--gray-light);
  outline: var(--gray-light);
  color: var(--white-normal);
}

.white-btn:hover {
  background-color: var(--gray-normal);
  outline: var(--gray-normal);
  color: var(--white-normal);
}

.section-title {
  margin-bottom: 30px;
}
