/* ===========================
Global data
============================ */

:root {
  --glowny-kolor-tla: #2e3236;
  --kolor-liter: #f8f9fa;
  --hoover-color: #6c757d;
  --boxes-background: rgba(243, 243, 243, 0.8);
  --boxes-callaction: rgba(128, 128, 128, 0.2);
}

/* ===========================
Intro
============================ */

.intro {
  width: 100%;
  position: relative;
}

.intro-content {
  background-image: url("../img/HomePage/1.jpg");
  padding-top: 10vh;
}
.intro-content .intro-nobg {
  background: #fff;
  position: relative;
  margin: 0;
  padding: 140px 0 60px;
}

.slogan {
  margin-bottom: 20px;
}

.white-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 4px;
}

.intro-content h2 {
  margin-bottom: 10px;
}

h1.h-ultra,
h2.h-ultra,
h3.h-ultra,
h4.h-ultra,
h5.h-ultra,
h6.h-ultra {
  font-weight: 900;
}

.well.well-trans {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: initial;
  border-radius: 5px;
}

.doctor img {
  width: 100%;
  margin-left: 5vw;
}

/* ---- lead form --- */

.lead-list img {
  filter: invert(0.5);
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
}

ul.lead-list {
  list-style: none;
  margin: 30px 10px;
  padding-top: 30px;

  border-radius: 50px !important;
  /* radius: 50px; */

  /* margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px; */
}

ul.lead-list li {
  margin: 0 0 20px 0;
  line-height: 1.6em;
}

ul.lead-list li span.fa {
  margin: 5px 5px 0 0;
  float: left;
}

ul.lead-list li span.list {
  display: inline-block;
  margin: 0 0 0 10px;
}

p.lead-footer {
  font-size: 16px;
  margin: 20px 0 0;
}

.panel-heading {
  padding: 20px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel.panel-skin {
  border-color: #ddd;
}

.panel-skin > .panel-heading {
  color: #fff;
  background-color: #444;
  border-color: #444;
  box-shadow: none;
}

.panel-body {
  padding: 20px;
}

.form-wrapper h3.panel-title {
  font-size: 20px;
  font-weight: 700;
}

.form-wrapper h3.panel-title span {
  font-size: 20px;
  margin: 0 10px 0 0;
}

.form-wrapper h3.panel-title small {
  font-size: 16px;
  color: #ddd;
}

form.lead label,
form.lead input {
  font-size: 16px;
}

.panel-body {
  background: #fff;
}

.panel-skin > .panel-heading .badge {
  background-color: #fff;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ===========================
Boxes
============================ */

.home-section {
  margin: 10vh 0;
  /* padding-top: 10vh; */
  display: block;
  position: relative;
  z-index: 120;
  background-color: #fff;
}

.home-section.nopadding {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  z-index: 120;
}
.home-section.nopadding-bot {
  padding-bottom: 0;
}
.home-section.nopadding-top {
  padding-top: 0;
}

.inner-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.boxes.home-section.nopadd-bot {
  padding-bottom: 0;
}

.section-heading h2 {
  margin-bottom: 10px;
}

.section-heading p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

.color-dark .section-heading h2 {
  color: #111;
}
.color-dark .section-heading p {
  color: #444;
}

.divider-short,
.color-dark .divider-short,
.bg-gray .divider-short {
  background: #aaa;
}

.color-light .divider-short {
  background: #fefefe;
}

.color-light .section-heading h2 {
  color: #fff;
}
.color-light .section-heading p {
  color: #fefefe;
}

.color-light blockquote,
.color-light p {
  color: #fefefe;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: var(--boxes-background);
}

.bg-dark {
  background: #404040;
}

/* --- section color var --- */

.text-light {
  color: #fff;
}

.boxes img {
  padding: 15px;
}

.boxes .circled {
  display: inline-block;
  height: 8rem;
  margin-bottom: 3vh;
}

.boxes h4 {
  margin-bottom: 2vh;
}

/* ===========================
Emergency Intro
============================ */
.callaction {
  padding: 30px 30px 20px 30px;
  border-radius: 4px;
  border-bottom: 2px solid var(--boxes-callaction);
}

.cta-text {
  margin-top: 10px;
  text-align: left;
}

.cta-text h3 {
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.cta-btn {
  float: right;
  padding: 20px 10px 20px 20px;
  margin-top: 10px;
}

/* ===========================
Partners
============================ */

.section-heading h2 {
  margin-bottom: 1vh;
}

.section-heading p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

.color-dark .section-heading h2 {
  color: #111;
}
.color-dark .section-heading p {
  color: #444;
}

.divider-short,
.color-dark .divider-short,
.bg-gray .divider-short {
  background: #aaa;
}

.color-light .divider-short {
  background: #fefefe;
}

.color-light .section-heading h2 {
  color: #fff;
}
.color-light .section-heading p {
  color: #fefefe;
}

.divider-short {
  display: block;
  width: 60px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.partner {
  margin: 10vh 0;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.partner .unnamed {
  padding-left: -50px !important;
}
