/* .header-uper {
  padding: 40px 0px;
}

.header-uper .logo {
  float: left;
}

.logo {
  display: inline-block;
}

.header-uper .right-side {
  margin-left: 45vh;
}

.header-uper .contact-info {
  float: left;
}

.header-uper .contact-info .item {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  margin-right: 40px;
}

.header-uper .contact-info .item .icon-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
  line-height: 53px;
  border: 1px solid #5ec5cc;
}

.header-uper .right-side .link-btn {
  margin-left: 20px;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* drugir nav */

.header-socials {
  line-height: 22px;
  margin-bottom: 0px;
}

.header-socials li {
  padding: 8px;
}

.header-socials li a {
  color: #21c87a;
}

.logo-bar {
  padding: 40px 0px 40px;
}

.top-info-block {
  margin-right: 30px;
}

.top-info-block h6,
.top-info-block p {
  margin-bottom: 0px;
}

.icon-block {
  margin-right: 20px;
  color: #21c87a;
  font-size: 40px;
  line-height: 20px;
  font-weight: 400;
}

.top-info-block:last-child {
  margin-right: 0px;
}

.header-bar {
  overflow: visible;
  position: relative;
  padding-bottom: 30px;
}

.main-navigation {
  margin-top: -40px;
}

.navbar-brand h1 {
  display: inline-block;
  /* font-size: 50px; */
}

.navbar-brand img {
  margin-right: 10px;
  display: inline-block;
}

.ti-mobile {
  background-image: url("../img/icons/mobile.svg");
}
