:root {
  --glowny-kolor-tla: #2e3236;
  --kolor-liter: #f8f9fa;
  --hoover-color: #6c757d;
}

.header-socials {
  line-height: 22px;
  margin-bottom: 0px;
}

.header-socials li {
  padding: 8px;
}

/* .header-socials li a {
  color: #21c87a;
} */

.logo-bar {
  padding: 40px 0px 40px;
}

.top-info-block {
  margin-right: 30px;
}

.top-info-block h6,
.top-info-block p {
  margin-bottom: 0px;
}

/* .top-info-block h6 {
  color: var(--glowny-kolor-tla)
} */

.icon-block {
  margin-right: 20px;
  /* color: #21c87a; */
  font-size: 40px;
  line-height: 20px;
  font-weight: 400;
}

.icon-block img {
  filter: invert(0.5)
}

.top-info-block:last-child {
  margin-right: 0px;
}

.header-bar {
  overflow: visible;
  position: relative;
  padding-bottom: 30px;
}

.main-navigation {
  margin-top: -40px;
}

.navbar-brand h1 {
  display: inline-block;
  /* font-size: 50px; */
}

.navbar-brand img {
  margin-right: 10px;
  display: inline-block;
}

/* .ti-mobile {
  background-image: url("../img/icons/mobile.svg");
} */
