:root {
  --glowny-kolor-tla: #343a40;
  --kolor-liter: #f8f9fa;
  --hoover-color: #6c757d;
}

.stroke {
  width: 100%;
  margin: 0 auto;
  background-color: var(--glowny-kolor-tla);
  padding: 15px 0 5px 0;
  /* box-shadow: 0px 5px 0px #dedede; */
}

nav ul {
  list-style: none;
  /* text-align: center;  */
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: var(--kolor-liter);
  font-weight: 600;
  /* text-transform: uppercase; */
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--hoover-color);
  text-decoration: none;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--hoover-color);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}
