.service-info .icon {
  /* position: relative; */
  display: block;
  float: left;
}

.service-info .icon img {
  width: 50px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 70px;
}

.icon-info {
  /* position: relative; */
  /* display: block;
  float: left; */
}
